<div class="container">
  <div class="row" style = "margin-top: 50px;">
    <div class="col-md-8 offset-md-1">
      <div class="text-error">
        <%= render 'layouts/public/errors', obj: @customer %>
      </div>
      <div class="ml-5">
        <h4 class="font-weight-bold"><u>会員情報編集</u></h4>
      </div>
    </div>
    <div class="col-md-8">
      <%= form_with model: @customer, url: customer_path(@customer), method: :patch do |f| %>
      <div class="row mt-3">
        <%= f.label :"名前", class:"col-md-4 text-md-right" %>
        <div class="col-md-3">
          <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
        </div>
        <div class="col-md-3 px-md-2">
          <%= f.text_field :first_name, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="row mt-3">
        <%= f.label :"フリガナ", class:"col-md-4 text-md-right fw-bold" %>
        <div class="col-md-3">
          <%= f.text_field :last_name_kana, autofocus: true, class:"form-control" %>
        </div>
        <div class="col-md-3 px-md-2">
          <%= f.text_field :first_name_kana, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="row mt-3">
        <%= f.label :"郵便番号", class:"col-md-4 text-md-right fw-bold" %>
        <div class="col-md-3">
          <%= f.text_field :post_code, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="row mt-3">
        <%= f.label :"住所", class:"col-md-4 text-md-right fw-bold" %>
        <div class="col-md-8">
          <%= f.text_field :address, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="row mt-3">
        <%= f.label :"電話番号", class:"col-md-4 text-md-right fw-bold" %>
        <div class="col-md-3">
          <%= f.text_field :phone_number, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="row mt-3">
        <%= f.label :"メールアドレス", class:"col-md-4 text-md-right fw-bold" %>
        <div class="col-md-6">
          <%= f.text_field :email, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-8 offset-md-3 form-inline">
          <%= f.submit "編集内容を保存", class: "btn btn-primary text-light mr-5" %>
          <%= link_to "退会する", unsubscribe_customer_path, class: "btn btn-danger text-light" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
