<div class="container">
  <div class="badge badge-warning">
  　<h3>商品新規登録</h3>
  </div>
    <div class="row">
     <div class="col-sm-12 col-md-8 mx-auto">
       <%= form_with model:@item, url:admin_items_path do |f| %>
       <table class="table table-borderless">
        <thead>
          <tr>
            <th><%= f.label :image, "商品画像" %><th>
            <td><%= f.file_field :image,  accept: 'image/*' %></td>
          </tr>
          <tr>
            <th><%= f.label :name, "商品名" %><th>
            <td><%= f.text_field :name, size: "40" %></td>
          </tr>
          <tr>
            <th><%= f.label :summary, "商品説明" %><th>
            <td><%= f.text_area :summary, size: "40x8" %></td>
          </tr>
          <tr>
            <th><%= f.label :genre_id, 'ジャンル' %></th>
            <td><%= f.collection_select :genre_id, @genres,:id,:name %></td>
          </tr>
          <tr>
            <th><%= f.label :price_non_tax, "税抜価格" %><th>
            <td><%= f.text_field :price_non_tax, size: "40" %>円</td>
          </tr>
          <tr>
            <th><%= f.label :is_active, "販売ステータス" %></th>
            <td><%= f.radio_button :is_active, :"販売中" %>
                <%= f.label :is_active, "販売中" %></td>
            <td><%= f.radio_button :is_active, :"販売停止中" %>
                <%= f.label :is_active, "販売停止中" %></td>
          </tr>
        </thead>
       </table>
       <%= f.submit "新規登録" ,class: "btn btn-outline-success btn-lg" %>
       <% end %>
     </div>
  </div>
</div>
