<div class='container'>
  <div class='row justify-content-center' style = "margin-top: 50px; margin-left: 50px;">
    <div class="col-6">
      <%= devise_error_messages! %>
      <div class='row'>
        <h4 class= "content_title_kk"><b>管理者ログイン</b></h4>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class='row input_field_kk'>
            <span class="col-4">
              <%= f.label :メールアドレス %>
            </span>
            <span class="col-6">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </span>
          </div>
        </div>
        <div class="field">
          <div class='row input_field_kk'>
            <span class="col-4">
              <%= f.label :パスワード %>
            </span>
            <span class="col-6">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </span>
          </div>
        </div>
        <div class="actions col-10 login_button">
          <%= f.submit "ログイン",class: 'btn -grid gap-2 col-6 mx-auto btn-outline-dark font-weight-bold form-button-common btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>