<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h4 class="customer-index mb-4">会員一覧</h4>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr class="table-secondary">
           <th>会員ID</th>
           <th>氏名</th>
           <th>メールアドレス</th>
           <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <th><%= customer.id %></th>
            <th><%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %></th>
                <% end %>
            <th><%= customer.email %></th>
            <th><%= customer.is_deleted %></th>
          </tr>
        </tbody>
        <% end %>
      </table>
     <%= paginate @customers %>
    </div>
  </div>
</div>
