<div class='container'>
  <div class='row justify-content-center' style = "margin-top: 50px; margin-left: 180px; ">
    <div class="col-12">
      <h4 class="content_title_kk"><b>新規会員登録</b></h4>
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <div class='row input_field_kk'>
                  <div class='col-2'>
                    <span>名前</span>
                  </div>
                  <div class='col-1'>
                    <%= f.label :"(姓)" %>
                  </div>
                  <div class='col-3'>
                    <%= f.text_field :last_name, class: "form-control" %>
                  </div>
                  <div class='col-1'>
                    <%= f.label :"(名)" %>
                  </div>
                  <div class='col-3'>
                    <%= f.text_field :first_name, class: "form-control" %>
                  </div>
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-2'>
                  <span>フリガナ</span>
                </div>
                <!--<div class="row">-->
                  <div class='col-1'>
                    <%= f.label :"(セイ)" %>
                  </div>
                  <div class='col-3'>
                    <%= f.text_field :last_name_kana, class: "form-control" %>
                  </div>
                  <div class='col-1'>
                    <%= f.label :"(メイ)" %>
                  </div>
                  <div class='col-3'>
                    <%= f.text_field :first_name_kana, class: "form-control" %>
                  </div>
                <!--</div>-->
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-3'>
                  <%= f.label :"メールアドレス" %>
                </div>
                <div class='col-3'>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-3'>
                  <%= f.label :"郵便番号(ハイフンなし)" %>
                </div>
                <div class='col-3'>
                  <%= f.text_field :post_code, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-3'>
                  <%= f.label :"住所" %>
                </div>
                <div class='col-7'>
                  <%= f.text_field :address , :size=>"63", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-3'>
                  <%= f.label :"電話番号(ハイフンなし)" %>
                </div>
                <div class='col-3'>
                  <%= f.text_field :phone_number, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-3'>
                  <%= f.label :"パスワード" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                  <% end %>
                </div>
                <div class='col-3'>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class='row input_field_kk'>
                <div class='col-3'>
                  <%= f.label :"パスワード(確認用)" %>
                </div>
                <div class='col-3'>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class='row input_field_kk login_button'>
              <div class='col-10'>
                <div class="actions">
                  <%= f.submit "新規登録",class: 'btn grid gap-2 col-4 mx-auto btn-outline-dark font-weight-bold form-button-common btn-block' %>
                </div>
              </div>
            </div>
          <% end %>
          <h6 class="content_title_kk"><b>既に登録済の方</b></h6>
          <div class='container'>
            <%= render "public/shared/links" %>からログインしてください
          </div>
        </div>
    </div>
  </div>
</div>